.git
.github
.idea
.next
.next-container
.next-host
.next-e2e-ci
coverage
logs
media
node_modules
.pnpm-store
playwright-report
test-results
test.env
.env
.env.*
!.env.example
npm-debug.log*
pnpm-debug.log*
